@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.card {
  animation: slideIn 0.5s;
  border: 1.5px solid #6c6c6c;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  position: relative;
  transition: 0.15s ease-in-out all;
  width: 100%;

  &:hover {
    border: 1.5px solid #c8a0d8;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  &:hover {
    .links {
      .yelpLink {
        // background-color: red;
        border: 1px solid #c8a0d8;
        border-radius: 4px;
        color: #c8a0d8;
      }
    }
  }

  .cover {
    height: auto;
    max-height: 15rem;
    object-fit: cover;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .row {
      display: flex;
      justify-content: space-between;

      .favorite {
        all: unset;
        cursor: pointer;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;

      span {
        background-color: #ffe3f0;
        border-radius: 4px;
        color: #fcafbb;
        gap: 16px;
        margin: 0 4px 4px 0;
        padding: 4px 8px;
      }
    }

    .divider {
      background-color: #6c6c6c;
      height: 1px;
      margin: 8px 0;
    }

    .expand {
      background-color: #b4b4b4;
      border-radius: 1rem;
      display: grid;
      height: 2rem;
      padding: 0;
      place-items: center;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 2rem;
    }

    .tiktokViews {
      align-items: center;
      display: flex;
      gap: 8px;

      span {
        line-height: 24px;
      }
    }

    .transactions {
      display: flex;
      gap: 8px;

      .check {
        display: flex;
        gap: 4px;
      }
    }
  }

  .links {
    display: flex;
    gap: 1.5rem;

    .yelpLink {
      border: 1px solid #484848;
      border-radius: 4px;
      color: #484848;
      display: grid;
      place-items: center;
      text-align: center;
      transition: 0.15s ease-in-out all;
      width: 100%;
    }
  }
}
