@keyframes bob1 {
  from {
    transform: translateY(-10%) scale(1);
  }

  to {
    transform: translateY(2%) scale(1.15);
  }
}

@keyframes bob2 {
  from {
    transform: translateY(35%) scale(1);
  }

  to {
    transform: translateY(25%) scale(0.85);
  }
}

.container {
  background-image: url('../../../public/login-background.png');
  background-size: cover;
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;

  position: relative;
  width: 100vw;

  .balloon1 {
    animation: bob1 4s ease-in-out infinite alternate-reverse;
    height: auto;
    left: 10%;
    position: absolute;
    top: 2%;
    width: 500px;
  }

  .balloon2 {
    animation: bob2 2s ease-in-out infinite alternate-reverse;
    height: auto;
    position: absolute;
    right: 10%;
    top: 35%;
    width: 150px;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    z-index: 9;

    .header {
      color: #ffedf0;
      font-size: 3em;
      font-weight: 700;
    }

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .subheading {
      animation: fade 5s ease-in-out forwards;
      color: #ffedf0;
      font-size: 1.5em;
      font-weight: 700;
      text-align: left;
      width: 100%;
    }
  }
}
