.logout {
  background-color: #c8a0d8;
  border: 1px solid #c8a0d8;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
  padding: 6px 12px;
  transition: 0.3s ease-in-out all;
  width: 100%;

  &:hover {
    background: #fff;
    border: 1px solid #c8a0d8;
    color: #c8a0d8;
  }
}

.login {
  background-color: #c8a0d8;
  border: 1px solid #c8a0d8;

  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 0.5rem 1.5rem;

  transition: 0.4s ease-in-out all;
  width: 100%;

  &:hover {
    background: rgba(200, 160, 216, 0.25);
    border: 1px solid #c8a0d8;
    color: #c8a0d8;
  }
}
