@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.pin {
  animation: appear 0.5s;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
